@import "globals";

.container {
  border-radius: 1.5rem;
  min-width: 23.4375rem;
  max-width: 23.4375rem;

  margin: 5rem auto;
  overflow: hidden;

  @media only screen and (min-width: 56.25rem) {
    max-width: 25rem;
  }
}

.card {
  background-color: white;
  padding-bottom: 1rem;

  &__img {
    width: 100%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
    text-align: center;

    > * {
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    font-weight: 900;
    margin-top: 2rem;
  }

  &__summary {
    color: $greyBlue;
    line-height: 1.6;
    padding: 0 1.6rem;
  }

  &__product {
    background-color: $lightBlue;
    display: flex;
    align-items: center;
    padding: 0.75rem 0rem;
    border-radius: 1rem;
    font-size: 0.9rem;

    .product-icon {
      margin: 0 1rem;
    }

    .product-info {
      margin-left: 1rem;
    }

    .product-name {
      font-weight: bold;
    }

    .product-price {
      color: $greyBlue;
    }

    .edit-price {
      font-weight: 700;
      margin-left: 5rem;

      &:hover {
        text-decoration: none;
        color: $hoverBlue;
      }
    }
  }

  &__button {
    &--pay {
      background-color: $brightBlue;
      color: white;
      font-family: "Red Hat Display", sans-serif;
      font-size: 1rem;
      border: none;
      box-shadow: 0px 15px 10px #ced7ff;

      &:hover {
        background-color: $hoverBlue;
      }
    }
  }

  &__link {
    &--cancel {
      text-decoration: none;
      color: $greyBlue;
      font-weight: 700;

      &:hover {
        color: $darkBlue;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
